title {color: white;
    text-align: center;
    font-size: 10}
body {background-color: lightblue;
    text-align: center;
    font-size: 10}
h1 {color: white;
    text-align: center;
    font-size: 10}
h2 {color: white;
    text-align: center;
    font-size: 10}
h3 {color: white;
    text-align: center;
    font-size: 10}
p {color: blue;
    text-align: center;
    font-size: 10}
